<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        ">
        
    <bean id="a" class="com.reyco.test.service.impl.A" p:username="admin">
    	<property name="b" ref="b"/>
    	<property name="c" ref="c"/>
    </bean>
    
    <bean id="b" class="com.reyco.test.service.impl.B">
    	<property name="a" ref="a"/>
    	<property name="c" ref="c"/>
    </bean>
     <bean id="c" class="com.reyco.test.service.impl.C">
    	<property name="a" ref="a"/>
    	<property name="b" ref="b"/>
    </bean>
    <context:component-scan base-package="com.reyco.test.service.impl"/>
    
    <import resource="classpath:spring-aop.xml"/>
</beans>